@page "/billDetail"
@inject BillService BillService
<div class="bg-danger">
    


    <!-- Amount Paid Input and Calculate Change -->
    <div class="row"> 
       <div class="col-1"> 
           
            <input type="number" id="amountPaid" class="form-control"
                   @bind="amountPaid" />
       </div>
        <div class="col-1">
            <button @onclick="CalculateChange"
                class="btn btn-outline-primary">
            Return
        </button>
        </div>
  
    <div class="col-1">
        @if (changeAmount.HasValue)
        {
            <p >
                Change to Return: @changeAmount.Value.ToString("C")
            </p>
        }
        @if (isError)
        {
            <p>
                @errorMessage
            </p>
        }
    </div>

 
       
   

</div>

@code {


    private decimal amountPaid;
    private decimal? changeAmount;
    private bool isError = false;
    private string? errorMessage;

    private void CalculateChange()
    {
        isError = false;
        errorMessage = string.Empty;

        if (amountPaid < BillService.TotalAmount)
        {
            isError = true;
            errorMessage = "Amount paid cannot be less than the total amount.";
            changeAmount = null;
        }
        else if (amountPaid <= 0)
        {
            isError = true;
            errorMessage = "Amount paid must be greater than zero.";
            changeAmount = null;
        }
        else
        {
            changeAmount = amountPaid - BillService.TotalAmount;
        }
    }

    

}
