@page "/bills"
@inject NavigationManager NavigationManager
@inject BillService BillService

<div style="background-color:pink; padding:2vw; width: 25vw;">
    <h3 style="display: flex;align-items:center; justify-content:center; font-weight:bold">Bills</h3>

    <h5 style="display: flex;align-items:center; justify-content:center; font-weight:bold">Selected Items</h5>
    <ul>
        @for (int i = 0; i < BillService.SelectedItems.Count; i++)
        {
            var item = BillService.SelectedItems[i];
            <li style="display: flex; align-items:center;justify-content:space-between; margin-top:10px">
                @item.Name - @item.Price
                <button class="btn btn-outline-success" @onclick="() => RemoveItem(item)">Remove</button>
            </li>
        }
    </ul>
    <p style="display: flex;align-items:center; justify-content:center; font-weight:bold">Total: @BillService.TotalAmount</p>
    <button class="btn btn-outline-danger" @onclick="ClearItems">Clear All</button>
   

</div>

@code {
    private void RemoveItem(RateList.RateItem item)
    {
        BillService.RemoveItem(item);
    }

    private void ClearItems()
    {
        BillService.ClearAllItems();
    }
   
}
