@page "/bills"
@inject BillService BillService

<div style=" padding:2vw; width: 25vw;   ">
    <h3 style="display: flex;align-items:center; justify-content:center; -webkit-text-stroke:1px black ; color:darkgreen; padding-bottom:2vh; font-weight:bold">Bills</h3>
    <hr />
    <ul>
        @for (int i = 0; i < BillService.SelectedItems.Count; i++)
        {
            var item = BillService.SelectedItems[i];
            <li style="display: flex; align-items:center;justify-content:space-between; margin-top:10px">
                @item.Name - @item.Price
                <button class="btn btn-outline-success" @onclick="() => RemoveItem(item)">Remove</button>
            </li>
        }
    </ul>
    <p style="display: flex;align-items:center; justify-content:center; font-weight:bold">Total: @BillService.TotalAmount</p>
    <button class="btn btn-outline-danger " style="margin: 2vh 0 0 35%" @onclick="ClearItems">Clear All</button>
</div>

@code {
    protected override void OnInitialized()
    {
        BillService.OnChange += async () => await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        BillService.OnChange -= async () => await InvokeAsync(StateHasChanged);
    }

    private void RemoveItem(RateList.RateItem item)
    {
        BillService.RemoveItem(item);
    }

    private void ClearItems()
    {
        BillService.ClearAllItems();
    }
}
