<!-- Navigation Bar -->
<nav class="navbar bg-body-tertiary bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
        <form class="d-flex" role="search">
             <NavLink class="nav-link" href="/navmenu" Match="NavLinkMatch.All">
                <i class="bi bi-gear"></i>
            </NavLink>
        </form>
    </div>
</nav>




@code {
   
}
