@page "/clientinformation"
@inject BillService BillService

<div class="client-information">
   
    <hr />
    <div style=" display:flex; align-items:center; justify-content:space-between">
    <p class="total-amount">
        Total: @BillService.TotalAmount.ToString("C")
    </p>
    <button class="btn-clear" @onclick="ClearTotalAmount">Clear</button>
</div>
</div>


@code {
    private void ClearTotalAmount()
    {
        BillService.ClearAllItems();
    }

    protected override void OnInitialized()
    {
        BillService.OnChange += async () => await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        BillService.OnChange -= async () => await InvokeAsync(StateHasChanged);
    }
}
