@page "/"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@namespace Bill_Generate.Pages

<PageTitle>Bill Generate</PageTitle>

<div>
    <div class="fixed-top">
        <ClientInformation />
    </div>
  
    <div>
        <div class="container-fluid vh-100">
          
            <div class="row pt-5">
                <div class="col-md-7">
                    <div class="card border-0">
                        <div class="card-body">
                            <RateList />
                        </div>
                    </div>
                   
                </div>
                <div class="col-md-5">
                    <div class="card border-0">
                        <div class="card-body">
                            <Bills />
                        </div>
                    </div>
                   
                </div>
            </div>
           
        </div>


    </div>
   

</div>

