@page "/"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@namespace Bill_Generate.Pages

<PageTitle>Bill Generate</PageTitle>


<div style="display: flex; justify-content:space-between;margin-top:1rem; gap: 10px;">
    <RateList />
    <Bills />
</div>

<ClientInformation />


