@inherits LayoutComponentBase
@using Bill_Generate.Shared
@using Microsoft.AspNetCore.Components.Routing

 <div class="page">
     <div class="sidebar">
        <NavMenu />
    </div> 

    <main>
       
        <article class="content px-4">
            @Body
        </article>
    </main>
</div> 
